@{
    ViewData["Title"] = "Home Page";
}

<button onclick="scan()" class="btn btn-dark">Scan</button>
<button onclick="submitScan()" class="btn btn-dark">Submit</button>


    <div id="images"></div>
