@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please press the Scan button to scan document(s) and Press the Submit button to submit</p>
</div>

<button onclick="scan()" class="btn btn-dark">Scan</button>
<button onclick="submitScan()" class="btn btn-dark">Submit</button>
<div id="images"></div>