@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please press the 'Scan' button to scan document(s) and Press the 'Submit' button to submit</p>
</div>

<button onclick="scan()" class="btn btn-dark">Scan</button>
<button onclick="submitScan()" class="btn btn-dark">Submit</button>

<form id="form1" action="https://asprise.com/scan/applet/upload.php?action=dump" method="POST" enctype="multipart/form-data" target="_blank">
    <input type="text" id="sample-field" name="sample-field" value="Test scan" />
    <button onclick="UploadScan()" class="btn btn-dark">Upload</button>
    </form>

    <div id="images"></div>
