@model Entities.Application.Marksheet
@{ 
    Layout = null;
}

<form>
    <div class="form-group">
        @for (int i = 0; i < Model.Question.Count; i++)
        {
            <label for="exampleFormControlInput1">Question</label>
            <input class="form-control" type="text" placeholder="@Model.Question[i]" value="@Model.Question[i]">
            <label for="exampleFormControlInput1">Score</label>
            @if (Model.Marks.Count > i)
            {
                <input class="form-control" name="" type="text" placeholder="@Model.Marks[i]" value="@Model.Marks[i]">
            }
            else
            {
                <input class="form-control" name="" type="text" placeholder="0" value="0">
            }
        }
    </div>
    <button id="SubmitMarksheet" type="button" onclick ="/Scanner/UserSubmit"  class="btn btn-primary mb-2">Submit Score</button>
</form>