@model Dictionary<string, int>;
@{ 
    Layout = null;
}

<form>
    <div class="form-group">
        @foreach (KeyValuePair<string, int> element in Model)
        {
            <label for="exampleFormControlInput1">@element.Key</label>
            <input class="form-control" type="text" placeholder="@element.Value" value="@element.Value">
        }
    </div>
    <button id="SubmitMarksheet" type="button" class="btn btn-primary mb-2">Submit Score</button>
</form>